<h1>Category Updated</h1>

<p>The category has been successfully updated.</p>
<p>
  <strong>Name:</strong> <%= @category.name %>
</p>
<p>
  <strong>Slug:</strong> <%= @category.slug %>
</p>

<%= link_to 'Back to Categories', categories_path %>
